.registeration-form {
  background-color: var(--darkgreen);
  padding: 4% 0;
  form {
    width: 70%;
    margin: auto;

    .upper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
        width: 47%;
        height: 54px;
        padding-left: 2%;
        background-color: #1c494a;
        outline: none;
        border: none;
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .mid {
      margin-top: 2%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
        width: 47%;
        height: 54px;
        padding-left: 2%;
        background-color: #1c494a;
        outline: none;
        border: none;
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .lower {
      margin-top: 2%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
        width: 47%;
        height: 54px;
        padding-left: 2%;
        background-color: #1c494a;
        outline: none;
        border: none;
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .submit {
      margin-top: 3%;
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        background-color: var(--yellow);
        border: none;
        outline: none;
        width: 20%;
        height: 40px;
        text-align: center;
        color: #000;
        font-family: "Poppins", sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.9px;
      }
    }
  }
}
