@import "../../../css-configs/mixins.scss";
.management {
  .faculties {
    .container {
      .slick-prev {
        z-index: 1;

        /* background-color: black !important; */
        /* background-color: rgb(212, 212, 212) !important; */
      }
      .slick-next {
        z-index: 1;
      }
      .slick-prev::before {
        color: rebeccapurple !important;
      }
      .slick-next::before {
        color: rebeccapurple !important;
      }
      .slick-slide {
        /* margin-right: 0.5%; */
        background: white;
      }
    }
  }
}
.management {
  .faculties {
    .slick-prev {
      left: -5% !important;
      // top: 106% !important;
      // width: 3% !important;

      // z-index: 1;
      // height: 3vw !important;
      // background-color: black !important;
      /* background-color: rgb(212, 212, 212) !important; */
    }
    .slick-next {
      right: -5% !important;
      // z-index: 1;
      // width: 2% !important;
      // height: 3vw !important;

      // top: 106% !important;
    }
    .slick-prev::before {
      color: transparent !important;
      display: none !important;
    }
    .slick-next::before {
      color: red !important;
      display: none !important;
    }
    .slick-slide {
      /* margin-right: 0.5%; */
      // background: white;
    }
  }
}

.management {
  position: relative;
  background-color: var(--lightgreen);
  padding: 5% 10%;
  .heading {
    h1 {
      text-align: center;
    }
  }
  .faculties {
    .container {
      .content {
        background-color: var(--lightgreen);
        .main-box {
          width: 90%;
          background-color: var(--lightgreen);
          margin: auto;
          display: flex !important;
          /* display: inline-block; */
          position: relative;
          height: 27vw;
          justify-content: center;
          align-items: flex-end;
          //         flex-direction: column;
          .bg {
            height: 17vw;
            width: 100%;
            background-color: var(--lightgreen);
            box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
          }
          .photo {
            display: flex;
            align-items: center;
            flex-direction: column;
            position: absolute;
            width: 90%;
            top: 17%;
            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
            .name {
              text-align: center;
              width: 100%;
              border-top: 2px solid #d9dadd;
              p {
                margin-top: 2%;
              }
            }
          }
        }
      }
    }
    .viewmore {
      display: flex;
      margin-top: 3%;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
        color: #fff;
        background-color: var(--darkgreen);
        font-family: $poppin;
        font-size: 1vw;
        padding: 1% 2%;
      }
    }
  }
  .slider-movers-left {
    position: absolute;
    top: 43%;
    left: 5%;
  }
  .slider-movers-right {
    top: 43%;
    right: 5%;
    position: absolute;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .management {
    .heading {
      h1 {
        font-size: 4vw;
        text-align: center;
      }
      p {
        font-size: 3vw;
        margin-top: 3px;
      }
    }
    .faculties {
      .container {
        .content {
          .main-box {
            height: 41vw;
            .bg {
              height: 22vw;
            }
            .photo {
              top: 13%;
            }
          }
        }
      }
    }
    .slider-movers-left,
    .slider-movers-right {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .management {
    .heading {
      h1 {
        font-size: 4vw;
        text-align: center;
      }
      p {
        font-size: 3vw;
        margin-top: 3px;
      }
    }
    .faculties {
      .container {
        .content {
          .main-box {
            height: 75vw;
            .bg {
              height: 45vw;
            }
            .photo {
              top: 13%;
            }
          }
        }
      }
    }
    .slider-movers-left,
    .slider-movers-right {
      display: none;
    }
  }
}
@media only screen and ($maw: $md) {
  .management {
    .heading {
      h1 {
        font-size: 4vw;
        text-align: center;
      }
      p {
        font-size: 3vw;
        margin-top: 3px;
      }
    }
    .faculties {
      .container {
        .content {
          .main-box {
            height: 75vw;
            .bg {
              height: 50vw;
            }
            .photo {
              top: 10%;
            }
          }
        }
      }
      .viewmore {
        a {
          font-size: 3vw;
        }
      }
    }
    .slider-movers-left,
    .slider-movers-right {
      display: none;
    }
  }
}
