.lifeat {
  display: flex;
  .right {
    width: 50%;
    display: flex;
    justify-content: baseline;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5vw;
    .top {
      .internal-div {
        padding-left: 29.33%;
        .heading {
          width: 22vw;
          color: #000;
          font-family: "Frank Ruhl Libre", serif;
          font-size: 2vw;
          font-style: normal;
          font-weight: 700;
          line-height: 2vw; /* 133.333% */
          text-transform: capitalize;
        }
        .details {
          margin-top: calc(0.9vw + 0.2em);
          width: calc(31vw + 1em);
          color: #4c4c4c;
          font-family: " Poppins", sans-serif;
          font-size: calc(0.8vw + 0.1em);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        button {
          border: none;
          cursor: pointer;
          margin-top: calc(0.9vw + 0.2em);
          color: #fff;
          font-family: Poppins;
          font-size: calc(0.8vw + 0.1em);
          width: 10vw;
          height: 3vw;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.9px;
          background-color: var(--darkgreen);

          &:hover {
            scale: 1.2;
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
              0 17px 50px 0 rgba(0, 0, 0, 0.19);
            // position: relative;
            // left: 2px;
          }
        }
      }
    }
    .btm {
      .single {
        display: flex;
        align-items: center;
        justify-content: center;
        .img {
          width: calc(100% / 3);
          height: calc(100% / 3);
          display: flex;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .double {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .img {
          display: flex;
          width: calc(100% / 3);
          height: calc(100% / 3);
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  .lifeat {
    .left {
      .top {
        .internal-div {
          .heading {
            font-size: 2.6vw;
            line-height: 2.6vw;
          }
          .details {
            font-size: calc(1vw + 0.1em);
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .lifeat {
    flex-direction: column-reverse;
    .right {
      width: 100%;
    }
    .left {
      width: 100%;
      gap: 14vw;
      .top {
        .internal-div {
          padding-top: 10%;
          button {
            font-size: calc(0.7vw + 0.3em);
            width: 23vw;
            margin-top: calc(2vw + 0.2em);
            height: 7vw;
          }
          .heading {
            width: 39vw;
            font-size: 5vw;
            line-height: 5vw;
          }
          .details {
            margin-top: calc(2vw + 0.2em);
            width: calc(53vw + 1em);
            text-align: justify;
            font-size: calc(2.3vw + 0.1em);
          }
        }
      }
    }
  }
}
