.interesting {
  background-color: var(--lightgreen);
  padding: 8% 10%;
  .content-box {
    .heading {
      text-align: center;
    }
    .interesting-facts {
      margin-top: 4%;
      .left {
        width: 50%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.1);
        p {
          color: #4c4c4c;
          //           width: 81%;
          padding: 4% 0;
          width: 91%;
          font-family: "Poppins", serif;
          font-size: 1.2vw;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .right {
        width: 50%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.1);
        p {
          color: #4c4c4c;
          width: 91%;
          padding: 4% 0;
          width: 91%;
          font-family: "Poppins", serif;
          font-size: 1.2vw;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .facts-top {
        display: flex;
        gap: 2%;
      }
      .facts-btm {
        margin-top: 2%;
        display: flex;
        gap: 2%;
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .interesting {
    .content-box {
      .heading {
        h2 {
          font-size: 6vw;
        }
      }
      .interesting-facts {
        margin-top: 6%;
        .left {
          width: 90%;
          p {
            font-size: 3vw;
            text-align: justify;
          }
        }
        .right {
          width: 90%;
          margin-top: 3%;
          p {
            font-size: 3vw;
            text-align: justify;
          }
        }
        .facts-top {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .facts-btm {
          margin-top: 3%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .interesting {
    .content-box {
      .heading {
        h2 {
          font-size: 7vw;
        }
      }
      .interesting-facts {
        margin-top: 6%;
        .left {
          width: 90%;
          p {
            font-size: 4vw;
            text-align: justify;
          }
        }
        .right {
          width: 90%;
          margin-top: 3%;
          p {
            font-size: 4vw;
            text-align: justify;
          }
        }
        .facts-top {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .facts-btm {
          margin-top: 3%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
