.helpform {
  background-color: var(--darkgreen);
  padding: 4% 0;
  .heading {
    h2 {
      color: #fff;
      text-align: center;
      font-family: "DM Serif Text", serif;
      font-size: 3vw;
      //       font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
    }
  }
  .details {
    p {
      padding: 2% 0;
      color: #fff;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-size: 1vw;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .form {
    width: 70%;
    margin: auto;
    .upper {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      .name,
      .email {
        //         padding-left: 2%;
        width: 47%;
        height: 5vw;
        //         margin: auto;
      }
    }

    .message {
      margin-top: 2%;
      width: 98%;
      height: 10vw;
    }
    input {
      padding-left: 2%;
      background-color: #1c494a;
      outline: none;
      border: none;
      color: #fff;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .submit {
      margin-top: 3%;
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        background-color: var(--yellow);
        padding-left: 0;
        width: 20%;
        height: 3vw;
        text-align: center;
        color: #000;
        font-family: "Poppins", sans-serif;
        font-size: 1vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.9px;
      }
    }
  }
}
::placeholder {
  color: #fff;
}

@media only screen and (max-width: 760px) {
  .helpform {
    .heading {
      h2 {
        font-size: 6vw;
      }
    }
    .details {
      p {
        font-size: 3vw;
      }
    }
    .form {
      .upper {
        .email,
        .name {
          height: 10vw;
        }
      }
      .message {
        height: 13vw;
      }
      .submit {
        input {
          width: 53%;
          height: 6vw;
          font-size: 3vw;
        }
      }
    }
  }
}
