@import "../../../css-configs/mixins.scss";
.studyat {
  padding: 0 4%;
  padding-bottom: 4%;
  .heading {
    h1 {
      text-align: center;
      font-family: "DM Serif Text", serif;
      font-size: 2.8vw;
      font-style: normal;
      // font-weight: 400;
      // line-height: 71px;
      letter-spacing: 0em;
    }
    span {
      text-align: center;
      font-family: "DM Serif Text", serif;
      font-size: 2.8vw;
      font-style: italic;
      // font-weight: 400;
      text-decoration: underline 1px solid gray;
      text-underline-offset: 5px;
      // line-height: 71px;
      letter-spacing: 0em;
    }
  }
  .content {
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    // gap: 87px;
    .left {
      display: flex;
      flex-direction: column;
      align-items: end;
      .img {
        width: 11vw;
        height: 9vw;
        display: flex;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      h6 {
        color: rgba(47, 102, 114, 1);
        font-family: Frank Ruhl Libre;
        font-size: 1vw;
        font-weight: 300;
        line-height: 2vw;
        letter-spacing: 0em;
        text-align: right;
      }
      p {
        width: 20vw;
        font-family: "Poppins", sans-serif;
        font-size: 1vw;
        font-weight: 400;
        line-height: 1.5vw;
        letter-spacing: 0em;
        text-align: right;
      }
      h2 {
        font-family: Frank Ruhl Libre;
        font-size: 1.4vw;
        font-weight: 700;
        // line-height: 48px;
        letter-spacing: 0em;
        text-align: right;
      }
      button {
        margin-top: 10%;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: var(--darkgreen);
        color: white;

        font-family: $poppin;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0.05em;
        text-align: center;
        // width: 200px;
        font-size: 1vw;
        padding: 2% 9%;
        &:hover {
          scale: 1.2;
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
            0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: start;
      .img {
        width: 11vw;
        height: 9vw;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      h6 {
        color: rgba(47, 102, 114, 1);
        font-family: Frank Ruhl Libre;
        font-size: 1vw;
        font-weight: 300;
        line-height: 2vw;
        letter-spacing: 0em;
        text-align: right;
      }
      p {
        width: 18vw;
        font-family: "Poppins", sans-serif;
        font-size: 1vw;
        font-weight: 400;
        line-height: 1.5vw;
        letter-spacing: 0em;
        text-align: left;
      }
      h2 {
        font-family: Frank Ruhl Libre;
        font-size: 1.4vw;
        font-weight: 700;
        // line-height: 48px;
        letter-spacing: 0em;
        text-align: right;
      }

      button {
        border: none;
        margin-top: 10%;
        outline: none;
        cursor: pointer;
        background-color: var(--darkgreen);
        color: white;
        padding: 16px;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0.05em;
        text-align: center;
        // width: 200px;
        font-size: 1vw;
        padding: 2% 9%;
        &:hover {
          scale: 1.2;
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
            0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
      }
    }
    .center {
      margin: 0 2%;
      width: 25%;
      .img {
        display: flex;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media only screen and (max-width: 1040px) {
  .studyat {
    .content {
      .left {
        button {
          margin-top: 2vw;
          padding: 0.6vw;
          font-size: 2vw;
          width: 15vw;
        }
      }
      .right {
        button {
          margin-top: 2vw;
          padding: 0.6vw;
          font-size: 2vw;
          width: 15vw;
        }
      }
    }
  }
}
@media only screen and (max-width: 758px) {
  .studyat {
    .heading {
      h1 {
        font-size: 6vw;
        span {
          font-size: 6vw;
        }
      }
    }
    .content {
      flex-direction: column;
      .left {
        align-items: center;
        .img {
          width: 35vw;
          height: 29vw;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        h2 {
          font-size: 3vw;
        }
        h6 {
          font-size: 2vw;
          line-height: 5vw;
        }
        p {
          font-size: 3vw;
          align-items: center;
          text-align: justify;
          width: 72vw;
          line-height: 3.5vw;
        }
        button {
          margin-top: 4vw;
          padding: 1vw;
          font-size: 4vw;
          width: 35vw;
        }
      }
      .right {
        align-items: center;
        .img {
          width: 35vw;
          height: 29vw;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        h2 {
          font-size: 3vw;
        }
        h6 {
          font-size: 2vw;
          line-height: 5vw;
        }
        p {
          font-size: 3vw;
          align-items: center;
          text-align: justify;
          width: 72vw;
          line-height: 3.5vw;
        }
        button {
          margin-top: 4vw;
          padding: 1vw;
          font-size: 4vw;
          width: 35vw;
        }
      }
      .center {
        margin-top: 6vw;
        width: 60%;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .studyat {
    .heading {
      h1 {
        font-size: 8vw;
        span {
          font-size: 8vw;
        }
      }
    }
    .content {
      flex-direction: column;
      .left {
        align-items: center;
        .img {
          width: 40vw;
          height: 32vw;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        h2 {
          font-size: 15px;
        }
        h6 {
          font-size: 12px;
          line-height: 7vw;
        }
        p {
          font-size: 3vw;
          align-items: center;
          text-align: justify;
          width: 70%;
          line-height: 3.5vw;
        }
        button {
          margin-top: 6vw;
          padding: 1vw;
          font-size: 4vw;
          width: 35vw;
        }
      }
      .right {
        align-items: center;
        .img {
          width: 40vw;
          height: 32vw;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        h2 {
          font-size: 15px;
        }
        h6 {
          font-size: 12px;
          line-height: 7vw;
        }
        p {
          font-size: 3vw;
          align-items: center;
          text-align: justify;
          width: 70%;
          line-height: 3.5vw;
        }
        button {
          margin-top: 6vw;
          padding: 1vw;
          font-size: 4vw;
          width: 35vw;
        }
      }
      .center {
        margin-top: 6vw;
        width: 72%;
      }
    }
  }
}
