.vedios {
  .main-container {
    border: 2px solid;
    align-items: center;
    padding: 2% 0;
    overflow-x: hidden;
    .slick-center {
      .continer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1%;

        .text {
          border: 2px solid red;
          transform: scale(1.3);
          display: flex;
          iframe {
            object-fit: cover;
            //             height: 100%;
            width: 100%;
          }
        }
      }
    }
    .continer {
      transform: scale(0.8);
      iframe {
        width: 100%;
        margin: auto;
      }
    }
  }
}
